<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="KDevRustSupport" version="1">
<MenuBar>
  <Menu name="code">
    <text context="@title:menu">Code</text>
    <Action name="dump_duchain"/>
  </Menu>
</MenuBar>
</kpartgui>
